*{
    box-sizing: border-box;
}

.create-post-page{
    height: 100dvh;
    max-height: 100dvh;
    background: linear-gradient(to bottom, #e2f5ff, #a3b5ff);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;  
}