*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../../../../../assets/backgrounds/fondo.png);
    min-height: 100vh;
    width: 100%;
    background-color: #261F3A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: saturate(115%) contrast(130%) brightness(85%);
}
