.page{
    height: 100vh;
    max-height: 100vh;
    background: linear-gradient(to bottom, #e2f5ff, #a3b5ff);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 20px;

    app-chat-contacts {
        flex: 1;          
        min-height: 0;    
        display: flex;    
        flex-direction: column;
        overflow: hidden; 
    }
}