<div class="search-bar-wrapper">
    <div class="search-input-container">
        <div class="inputContainer">
            <mat-icon class="search-icon">search</mat-icon>
            <input
            class="search-input"
            type="text"
            placeholder=""
        />
        </div>
        
            <button
                class="filter-btn"
                mat-icon-button
                aria-label="Filtros"
            >
                <mat-icon>tune</mat-icon>
            </button>
    </div>
</div>