.navbar {
    display: flex;
    align-items: center;
    padding: 10px 8px 10px 0;
    width: 100%;
    gap: 2px;

    app-search-bar{
        flex: 1 1 auto;
        min-width: 0;
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
    }
}