*{
    box-sizing: border-box;
}

.profile-page{
    height: 100dvh;
    max-height: 100dvh;
    background: linear-gradient(to bottom, #e2f5ff, #a3b5ff);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
